
.fade-in {
  opacity: 0;
  transition: opacity 600ms ease-in;

}

.fade-in.appear {
  opacity: 1;
}


.from-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.from-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}


.from-left,
.from-right {
  transition: opacity 300ms ease-in, -webkit-transform 400ms ease-in;
  transition: opacity 300ms ease-in, transform 400ms ease-in;
  transition: opacity 300ms ease-in, transform 400ms ease-in,
    -webkit-transform 400ms ease-in;
  opacity: 0;
  transition-delay: 50ms;
}

.from-left.appear,
.from-right.appear {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

/* faster  animation */

.fade-in-slow {
  opacity: 0;
  transition: opacity 600ms ease-in ;
  transition-delay: 700ms;

}

.fade-in-slow.appear {
  opacity: 1;
}




.from-left-fast {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.from-right-fast {
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}


.from-left-fast,
.from-right-fast {
  transition: opacity 100ms ease-in, -webkit-transform 200ms ease-in;
  transition: opacity 100ms ease-in, transform 200ms ease-in;
  transition: opacity 100ms ease-in, transform 200ms ease-in,
    -webkit-transform 200ms ease-in;
  opacity: 0;
}

.from-left-fast.appear,
.from-right-fast.appear {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

