@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

html{
  overflow-x: hidden;
}

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;

}
/* global variables */
:root{
  --color1:rgb(212,255,229);
  --bg1:rgb(27, 33, 53);
  --font:'Montserrat', sans-serif;
}

/* .before-nav{
  padding:50px 0;
  background-color: var(--bg1);
  overflow: hidden;
  width: 100vw;
  display: none;

} */
/* Navbar */

.navbar-brand span{
  color: #d4ffe5;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  margin-left: 10px;
}
.navbar-brand:hover{
  color:rgb(157, 189, 175)
  
}
.navbar-brand img{
  height: 100px;
  width: 100px;
  margin-left: 100px;
}

#home,#services,#ceo,#our-team,#testimonials,#updates,#contact{
  color: #d4ffe5;
  transition: 100ms ease-out;

}
#home:hover,#services:hover,#ceo:hover,#our-team:hover,#testimonials:hover,#updates:hover,#contact:hover{
  /* color: #d4ffe5; */
  border-bottom:1px solid #d4ffe5;
  transition:100ms ease-in;

}
.navbar-brand{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item{
  margin: 0 10px;
}
.nav-container{
  background-color:var(--bg1)
}

.active, .section1, .section3, .section5,.navbar-brand{
  color:var(--color1);
}
.active{
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font);

}
.active:hover{
  color:white;
}
.navbar-collapse.collapse ul{
 margin-left:700px;
}
/* section 1 */
.section1{
  font-family: var(--font);
}
.section1 h1{
  width: 30%;
  margin-left:10%;
  padding:100px 50px 100px 50px;
  font-size: 64px;
  font-weight: 500;
    font-family: 'Montserrat';
    letter-spacing: -2px;
    line-height: 4rem;
    height: 600px;
}
#particles-js{
  height:650px;
  padding:100px 0;
  background-color: rgb(45,57,74);
}
.section1{
  background-color: var(--bg1);
}
.section1-flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:200px 0;
    width: 80vw;
    height: 1050px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.section1-flex-container h1{
    margin-right: 20%;
    width: 20%;
    text-align: left;
    font-size: 64px;
letter-spacing: -2px;
line-height: 3.5rem;
color: #d4ffe5;
font-weight: 500;
font-family: "Montserrat";
margin-top:20%;
}
.section1-flex-container p{
   font-size:24px;
   width: 50%;
   line-height: 39px;
   padding-right: 100px;
   font-weight: 300;
}

/* section 2 our services */
.section2{
  background-image: linear-gradient(0deg, #b7c5bd 0%, #eff9f3 100%);
  color:rgb(33, 38, 57);
}
.section2 h1{
  padding-top:200px;
  font-size: 64px;
  font-family: var(--font);
  font-weight: 600;
    width: 40%;
    margin-left: 60%;
    transform: translateX(-60%);
    color:var(--bg1);
    letter-spacing: -2px;
    line-height: 4rem;

    }
    .section2-h1{
      text-align: left;
    
    }
.section2-grid-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    color:var(--bg1);
    padding-bottom:200px;
}
.section2 img{
    height: 350px;
    width: 100%;
    margin-bottom:50px;

}
.section2 h2{
    padding-bottom:10px;
    font-size: 32px;
letter-spacing: -1px;
line-height: 50px;
color: #1c2135;
font-weight: 700;
font-family: "Montserrat";
text-align: center;


}
.section2-grid{
  margin-left:10%;
  width: 500px;
  padding-top:100px;
  
}
.section2-grid h2{
  font-weight: bold;
}
.section2-grid p{
  font-size: 24px;
  font-weight: 500;
  font-family: var(--font);
  text-align: center;
  color:#1c2135;
  width: 100%;
  line-height: 2rem;
  padding-bottom:10px;
}
.section2-grid div{
  text-align: center;
}
.section2-grid a{
  color:black;
  font-weight: 700;
  font-family: var(--font);
  font-size:24px;
  text-transform: uppercase;
}


/* section 3 ceo */
.section3{
  background-color: var(--bg1);
}
.slider-img {
    max-width: 100%;
    display: block;
    pointer-events: none;
    padding:10px;
    height: inherit;

  }
  .section3-grid1{
      width: 700px;
      height:800px;
      align-self: center;
      justify-self: right;
  }
  .ceo-details{
    text-align: right;
  }
  .ceo-details p{
    font-size: 24px;
    color:rgb(185, 198, 191);
    font-weight: 500;
    font-family: "Montserrat";
    line-height: 3rem;
  }
  .ceo-details h2{
    color:#fff;
    font-size: 32px;
    text-transform: uppercase;
  }
  .section3-grid2{
    align-self: center;
    justify-self: center;
    margin-left: 100px;;
  }
  .section3-grid-container{
      display: grid;
      grid-template-columns: 45% 45%;
  background-color: rgb(28, 33, 53);
  padding: 100px 0;
  height:1200px;
  }
  .section3-flex-container{
      display: flex;
      flex-direction: column;
  }
  
 .quote-left{
font-size: 150px;
text-align: right;
color:rgb(106, 115, 118);
 }


/* section 4 our expert team */
.section4{
  background: #b9c6bf; 
  color:rgb(37, 43, 61);
  height: 1200px;
}
.section4 h1{
  padding-top:200px;
  font-size: 64px;
  font-weight: 600;
    font-family: var(--font);
    width: 25%;
    margin-left: 55%;
    transform: translateX(-50%);
    color:var(--bg1);
    letter-spacing: -2px;
    line-height: 4rem;
    }
    .section4-h1{
      text-align: left;
    
    }

.main-carousel{
  width: 100vw;
  position: relative;
  padding-top:100px;
}
.slider{
  height: 1000px;
  position: relative;
  width: 100%;

}
.custom-slider{
  position: relative;
  display: flex;
  align-items: center;
}

.custom-cards{
  height: 600px;
  width: 600px;
}
.slick-track{
  padding:0rem 0;
  text-align: center;
}
.slick-slide{
  margin:0 25px;
  height: 600px;;
  outline: none;
  border: none;
  cursor: pointer;
}
.slick-list{
  margin:0 25px;
}
.custom-cards img{
  height: 400px;
  width: 400px;
  padding-bottom:30px;
}
.custom-cards h2{
  font-size:32px;
  text-transform: uppercase;
  text-align: center;
  line-height: 3rem;
  letter-spacing: -2px;
  font-family: var(--font);
  width: 400px;
  font-weight: 500;
}

.custom-cards  h3{
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  line-height: 3rem;
  text-align: center;
  font-family: var(--font);
  width: 400px;
}
.section4-h3 h3{
  width: 50%;
  margin-left: 25%;
  }


/*  */

  /* section 5 testimonials */
  .section5{
  background-color: var(--bg1);
color:rgb(185, 190, 190);
height: 1300px;
  }
  .section5 h1{
      padding-top:200px;
      font-size: 64px;
      font-weight: 500;
        font-family: var(--font);
        margin-left: 50%;
        transform: translateX(-50%);
        line-height: 5rem;
        letter-spacing: -2px;
        color: #b9c6bf;
  }
  .section5-h1{
  text-align: center;
  }
  .section5 p{
    font-size:24px;
    color: #bbc8c1;
    font-family: var(--font);
    font-family: 500;
    margin-bottom:50px;
  }
  .section5-grid-container{
      display: grid;
      grid-template-columns: 50% 50%;
      height: 800px;
      width: 80vw;
      padding-top:100px;
    grid-gap:100px;
    margin-left: 150px;
    

  }
  .section5-grid{
    width: 100%;
    height: 100%;
    text-align: left;
    padding:40px;
    background-color: rgb(66, 73, 86);
    line-height: 39px;
 
  }
  .section5-grid h2{
    color: #bbc8c1;
    font-size: 24px;
    font-family: "Montserrat";
    font-weight: 700;
  }
  .carousel-control-prev{
    left:0;
  }

  /* section 6 news and events*/
  .section6{
    padding: 100px 100px 200px 100px;
  }
  .section6 h1{
      font-size:60px;
      margin-left: 50%;
      transform: translateX(-50%);
      width: 30%;
      color:var(--bg1);
      font-family: var(--font);
      font-weight: 600;
      line-height: 5rem;
      letter-spacing: -2px;
      padding-bottom:100px;
  }
  .section6-h1{
    text-align: left;
  }

  .section6-p{
    padding-top:100px;
  }
  .section6 li{
      border-bottom: 1px solid rgb(19, 18, 18);
      width: 90%;
      margin:50px 0;
      font-size: 24px;
      text-align: left;
      color: rgb(65, 69, 85);
      font-weight: 500;
      font-family: var(--font);
      }
      
      #marqueecontainer{
        width: 80vw; /*marquee width */
        height: 600px; /*marquee height */
        overflow: hidden;
        margin-left: 50%;
        transform: translateX(-50%);
        padding:20px;
        }
        #vmarquee{
          position: absolute;
          left: 100px;
        }
 

/* section 7 form */
.section7{
  /* background-color:rgb(196, 208, 202); */
  background-image: linear-gradient(42deg, #b8c5be 0%, #f0f9f4 100%);
  padding:200px 0;
  font-family: var(--font);
}
.section7-flex-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
}
.section7-flex-item1{
  font-size: 64px;
  line-height: 5rem;
  letter-spacing: -2px;
  width:25%;
  padding-bottom: 20px;
  margin-top:-300px;
  font-family: var(--font);
  font-weight: 600;
  border-bottom:5px solid rgb(28, 33, 53);;
  color:rgb(28, 33, 53);;
}

.section7-flex-item2{
  width: 40%;
}

.inquire{
  text-transform: uppercase;
  border:1px solid rgb(170, 161, 161);
  width: 200px;
  text-align: center;
  height: 80px;
  margin-top:10px;
  font-size: 24px;
  font-family: var(--font);
  background-color: rgb(28, 33, 53);;
  color:white;
  transition:  200ms ease-out ;

}
.inquire:hover{
  background-color: rgb(6, 6, 58);
  transition:  200ms ease-in ;

}
.form-submit{
text-align: right;
width: 800px;
}

.form-Box input[type="text"],
.form-Box input[type="email"],
.form-Box textarea {
  width: 800px;
  height: 80px;
  border: 1px solid #737373;
  background-color: transparent;
  padding: 5px 25px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  background-color: var(--bg1);;
  
}
.form-Box textarea {
  padding: 15px 25px;
  resize: none;
  height: 500px;
}



  /* footer */
.footer{
  background-color: var(--bg1);;
  padding-bottom:50px;
  font-family: var(--font);
  

}
.footer li{
  list-style: none;
  margin:30px 0;
  cursor: pointer;
  transition: 300ms ease;

}

.footer-logo{
  margin-right:75px;
}
.footer-logo>li>img{
  height: 100px;
  width: 100px;
  margin-bottom:150px;
  margin-left: 100px;
}
.tou{
  width: 350px;
  text-transform: uppercase;
  font-weight: 500;
}
.footer-flex-container{
  transform: scale(.9);

  display: flex;
  width: 100%;
  padding-top:100px;
  justify-content: space-around;
  align-items: center;
  color:#fff;
  font-size: 24px;
}
.footer-flex-container ul{
  width: 300px;
height: 600px;;
}
.footer ul>li:first-child{
  text-transform: uppercase;
  font-weight: 600;
}
.product{
  margin-left: 100px;
}
.copyright{
  color:#fff;
  text-align: center;
  padding:50px 0 100px 0;
  font-size:18px;
}


/* responsiveness */

@media only screen and (max-width:549px){
  
  .navbar-collapse.collapse ul{
    margin-left:0;
   }

  .navbar-brand span, .active{
    font-size:1rem;
  }
  .navbar-brand img{
    height:5rem;
    width: 6rem;
    margin:0;
  }

/* section 1 */

.section1 h1{
  font-size:2rem;
  width: 60vw;
  height: 70vh;
  padding-top:50px;
  padding-left: 0;
  padding: 5rem 0 0 0;
  text-align: left;

}

#particles-js{
  height: 30rem;
  padding:0;
  width: 100vw;
}
.section1-flex-container{
flex-direction: column;
font-size:.5rem;
justify-content: flex-start;
padding-top:6rem;

}
.section1-flex-container h1{
  padding-top:3rem;
  padding-bottom:3rem;
  text-align: center;
  height:25vh;
}

.section1 p{
  font-size:1rem;
  width: 95vw;
  padding-right:5rem;
  padding-left:5rem;

}

/* section 2 our services  */
.section2 h1{
  font-size:2rem;
  width: 80vw;
  height: 30vh;
  padding-top:50px;
  padding-left: 0;
  padding: 5rem 0 0 0;
  text-align: left;

}

.section2-grid-container{
  grid-template-columns: 100%;
  margin-left: 1rem;
  padding-bottom:2rem;
  width: 100vw;
}
.section2 img{
  height: 20rem;
  margin-bottom:5rem;
  width: 80vw;
}

.section2 h2{
  padding-bottom:1rem;
  width: 80vw;
  font-size: 2rem;
letter-spacing: -1px;
line-height: 50px;
color: #1c2135;
font-weight: 700;
font-family: "Montserrat";
text-align: center;
}
.section2-grid p{
  font-size: 1.5rem;
  text-align: center;
  width: 80vw;
  padding-bottom:10px;
}
.section2-grid div{
  width: 80vw;
  margin-top:1rem;

}

.section2-grid a{
  font-size: 1.5rem;
}

/* section 3 ceo */

.section3{
  height: 220vh;
}
.section3-grid-container{
  grid-template-columns: 100%;
}

.slider-img{
  height: 20rem;
  width: 90%;
}
.section3-grid1{
  width: 90vw;
  height: 20rem;
}

.ceo-details p , .ceo-details h2 , .quote-left{
  font-size: 1.5rem;
  width: 80vw;
  text-align: left;
  margin-left:0;
  padding:0;
  margin-top:1rem;
}

.ceo-details p{
  text-align: left;
  width: 60vw;
}
.ceo-details h2{
  padding:1rem;
  line-height: 0.1rem;
}

/* section4 our expert team*/



.section4 h1{
  font-size:32px;
  width: 80vw;
  height: 30vh;
  padding-top:50px;
  padding-left: 0;
  padding: 5rem 0 0 0;
  text-align: left;
}
.custom-cards{
  width: 80vw;
  margin:0 1rem;
}
.custom-cards img{
  height: 300px;

}
.custom-cards h2{
  font-size: 1.5rem;
  width: 80vw;
  text-align: center;

}
.section4-h3{
  width: 80vw;
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
}
.slider, .section4{
  height: 130vh;
}
/* section 5 testimonials*/
.section5{
  height: 450vh;
}
.section5 h1{
  font-size:2rem;
  width: 80vw;
  height: 30vh;
  padding: 5rem 0 0 0;
  text-align: center;
}
.section5-grid-container{
  grid-template-columns: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  padding:0;
}
.section5-grid{
  width: 80vw;
}
.section5 p{
  width: 100%;
  font-size: 1rem;
}
.section5 h2{
  padding:1rem;
  font-size:1.25rem;
  width: 100%;

}
/* section 6 news and events */
.section6{
  padding-top:5rem;
}
.section6 h1{
  font-size:2rem;
  width: 50vw;
  height: 30vh;
  line-height: 1.75rem;
  padding-top:0;
  padding-left: 0;
  padding: 5rem 0 0 0;
  text-align: center;
}

.section6 ul{
  text-align: center;
}
.section6 li{
font-size: 1.25rem;
text-align: left;
}
#marqueecontainer{
  padding:0;

}
#vmarquee{
  left: 1rem;
}

/* section 7 form */


.section7{
  padding-bottom:5rem;
}
.section7-flex-container{
  flex-direction: column;
  padding-top:5rem;
}


.section7-flex-item1{
  font-size:32px;
  width: 80vw;
  height: 20vh;
  padding: 5rem 0 0 0;
  line-height:2rem;
  
}
.section7-flex-item2{
width: 80vw;
font-size: 1.5rem;
margin-top:5rem;
}
.form-Box input[type="text"],
.form-Box input[type="email"],
.form-Box textarea {
  width: 80vw;
  height: 10vh;
  font-size: 1rem;
}
.form-Box textarea {
  height: 30rem;
}
.form-submit{
  text-align: left;
}

/* footer */
.footer{
  font-size: 1rem;
}
.tou{
  width: 80vw;
}
.footer-logo{
  text-align: center;
}
.footer-flex-container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.product{
  margin-left: 0;
}

.footer-flex-container ul{
  width: 80vw;
  text-align: center;
  font-size: 1.5rem;
}

.copyright{
  font-size: 1.5rem;
  padding:0;
  margin:0;
}










}
@media only screen and (min-width:550px) and (max-width:768px){
  
  .navbar-collapse.collapse ul{
    margin-left:0;
   }

  .navbar-brand span, .active{
    font-size:2rem;
  }
  .navbar-brand img{
    height:5rem;
    width: 6rem;
    margin:0;
  }

/* section 1 */

.section1 h1{
  font-size:4rem;
  width: 80vw;
  height: 70vh;
  padding-top:50px;
  padding-left: 0;
  padding: 5rem 0 0 0;
  text-align: left;

}

#particles-js{
  height: 30rem;
  padding:0;
  width: 100vw;
}
.section1-flex-container{
flex-direction: column;
font-size:.5rem;
justify-content: flex-start;
padding-top:6rem;
height:120vh;

}
.section1-flex-container h1{
  padding-top:3rem;
  padding-bottom:3rem;
  text-align: center;
  height:25vh;
}

.section1 p{
  font-size:1rem;
  width: 95vw;
  padding-right:5rem;
  padding-left:5rem;

}

/* section 2 our services  */
.section2 h1{
  font-size:4rem;
  width: 80vw;
  height: 30vh;
  padding-top:50px;
  padding-left: 0;
  padding: 5rem 0 0 0;
  text-align: left;

}

.section2-grid-container{
  grid-template-columns: 100%;
  margin-left: 1rem;
  padding-bottom:2rem;
  width: 100vw;
}
.section2 img{
  height: 20rem;
  margin-bottom:5rem;
}

.section2 h2{
  padding-bottom:1rem;
  width: 80vw;
  font-size: 2rem;
letter-spacing: -1px;
line-height: 50px;
color: #1c2135;
font-weight: 700;
font-family: "Montserrat";
text-align: center;
}
.section2-grid p{
  font-size: 2rem;
  text-align: center;
  width: 80vw;
  padding-bottom:10px;
}
.section2-grid div{
  width: 80vw;
  margin-top:1rem;

}

.section2-grid a{
  font-size: 1.5rem;
}

/* section 3 ceo */

.section3{
  height: 220vh;
}
.section3-grid-container{
  grid-template-columns: 100%;
}

.slider-img{
  height: 20rem;
  width: 90%;
}
.section3-grid1{
  width: 90vw;
  height: 20rem;
}

.ceo-details p , .ceo-details h2 , .quote-left{
  font-size: 1.5rem;
  width: 80vw;
  text-align: left;
  margin-left:0;
  padding:0;
  margin-top:1rem;
}

.ceo-details p{
  text-align: left;
  width: 60vw;
}
.ceo-details h2{
  padding:1rem;
  line-height: 0.1rem;
}

/* section4 our expert team*/



.section4 h1{
  font-size:32px;
  width: 80vw;
  height: 30vh;
  padding-top:50px;
  padding-left: 0;
  padding: 5rem 0 0 0;
  text-align: left;
}
.custom-cards{
  width: 80vw;
  margin:0 1rem;
}
.custom-cards img{
  height: 300px;

}
.custom-cards h2{
  font-size: 1.5rem;
  width: 80vw;
  text-align: center;

}
.section4-h3{
  width: 80vw;
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
}
.slider, .section4{
  height: 130vh;
}
/* section 5 testimonials*/
.section5{
  height: 250vh;
}
.section5 h1{
  font-size:4rem;
  width: 80vw;
  height: 30vh;
  padding: 5rem 0 0 0;
  text-align: center;
}
.section5-grid-container{
  grid-template-columns: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  padding:0;
}
.section5-grid{
  width: 80vw;
}
.section5 p{
  width: 100%;
  font-size: 1.75rem;
}
.section h2{
  padding:1rem;

}
/* section 6 news and events */
.section6{
  padding-top:5rem;
}
.section6 h1{
  font-size:4rem;
  width: 80vw;
  height: 40vh;
  padding-top:0;
  padding-left: 0;
  padding: 5rem 0 0 0;
  text-align: center;
}

.section6 ul{
  text-align: center;
}
.section6 li{
font-size: 1.25rem;
text-align: left;
}
#marqueecontainer{
  padding:0;

}
#vmarquee{
  left: 1rem;
}

/* section 7 form */


.section7{
  padding-bottom:5rem;
}
.section7-flex-container{
  flex-direction: column;
  padding-top:5rem;
}


.section7-flex-item1{
  font-size:32px;
  width: 80vw;
  height: 20vh;
  padding: 5rem 0 0 0;
  line-height:2rem;
  
}
.section7-flex-item2{
width: 80vw;
font-size: 1.5rem;
margin-top:5rem;
}
.form-Box input[type="text"],
.form-Box input[type="email"],
.form-Box textarea {
  width: 80vw;
  height: 10vh;
  font-size: 1rem;
}
.form-Box textarea {
  height: 30rem;
}
.form-submit{
  text-align: left;
}

/* footer */
.footer{
  font-size: 1rem;
}
.tou{
  width: 80vw;
}
.footer-logo{
  text-align: center;
}
.footer-flex-container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.product{
  margin-left: 0;
}

.footer-flex-container ul{
  width: 80vw;
  text-align: center;
  font-size: 1.5rem;
}

.copyright{
  font-size: 1.5rem;
  padding:0;
  margin:0;
}










}



@media only screen and (min-width:769px) and (max-width:991px){
  .navbar-collapse.collapse ul{
    margin-left:0;
   }
   .navbar-brand span, .active{
    font-size:24px;
  }




/* section 1 */

  .section1 h1{
    font-size:64px;
    width: 80vw;
    height: 100vh;
    padding-top:50px;
    padding-left: 0;
    padding: 5rem 0 0 0;
    text-align: left;
  }
  #particles-js{
    height: 40vh;
    padding:0;
    width: 100vw;
  }




  .section1-flex-container{
    flex-direction: column;
    font-size:.5rem;
    justify-content: flex-start;
    padding-top:0;
    height:120vh;
    
    }
    .section1-flex-container h1{
      padding-top:5rem;
      text-align: center;
      height:25vh;
    }
    .section1 p{
      font-size:1.25rem;
      width: 95vw;
      padding-right:5rem;
      padding-left:5rem;
      height: 70vh;
    
    }

/* section 2 our services  */

.section2-h1{
  text-align: center;
  width: 80vw;
  margin-left: 50%;
  transform:translateX(-50%);
}


.section2 h1{
  font-size:64px;
  width: 100%;
  height: 30vh;
  padding-top:50px;
  padding-left: 0;
  padding: 5rem 0 0 0;

}

.section2-grid-container{
  grid-template-columns: 100%;
  padding-bottom:5rem;
  width: 100vw;
  margin-left: 0;
 

}
.section2-grid{
width: 80%;
}

.section2-grid-container img{
  height: 30rem;
  width: 100%;
  margin-bottom:5rem;
  padding:0 2rem;
 
 
}
.section2 h2{
  padding-bottom:1rem;
  padding-left: 0;
  margin-left: 0;
  width: 80vw;
  font-size: 2rem;
letter-spacing: -1px;
line-height: 50px;
color: #1c2135;
font-weight: 700;
font-family: "Montserrat";
text-align: center;
}
.section2-grid p{
  font-size: 2rem;
  text-align: center;
  width: 80vw;
  padding-bottom:10px;
}
.section2-grid div{
  width: 80vw;
  margin-top:1rem;

}

.section2-grid a{
  font-size: 2rem;
}


/* section 3 ceo */


.section3{
  height: 250vh;
}
.section3-grid-container{
  grid-template-columns: 100%;
  width: 100vw;
  height: 100%;
}

.slider-img{
  height: 30rem;
  width: 100%;
  margin-bottom:5rem;
  padding:0 2rem;
 
}
.section3-grid1{
  width: 100%;
  height: 20rem;
}

.ceo-details p , .ceo-details h2 , .quote-left{
  font-size: 2rem;
  width: 90vw;
  text-align: left;
  margin-left:0;
  padding:0;
  margin-top:.5rem;
}

.ceo-details p{
  text-align: left;
  width: 90vw;
}
.ceo-details h2{
  padding:1rem;
  line-height: 0.1rem;
  padding-left: 0;
  width: 90vw;
}


/* section4 our expert team*/
.section4{
  height:200vh;
}
.section4 h1{
  font-size:64px;
  width: 80vw;
  height: 30vh;
  padding-top:50px;
  padding-left: 0;
  padding: 5rem 0 0 0;
  text-align: center;
}


/* section 5 testimonials*/
.section5{
  height: 450vh;
}
.section5 h1{
  font-size:64px;
  width: 80vw;
  height: 30vh;
  padding-top:50px;
  padding-left: 0;
  padding: 5rem 0 0 0;
  text-align: center;
}

.section5-grid-container{
  grid-template-columns: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.section5-grid{
  width: 80vw;
  height: 80vh;
}

/* section 6 news and events */
.section6 h1{
  font-size:64px;
  width: 80vw;
  height: 30vh;
  padding-top:50px;
  padding-left: 0;
  padding-top:0;
  padding: 5rem 0 0 0;
  text-align: center;
}
#marqueecontainer{
  width: 100vw;
}
.section6 li{
  font-size: 1.75rem;
  text-align: left;
  width: 80vw;
  }

/* section 7 form */


.section7{
  padding-bottom:5rem;
}
.section7-flex-container{
  flex-direction: column;
  padding-top:5rem;
}


.section7-flex-item1{
  font-size:64px;
  width: 80vw;
  height: 20vh;
  padding: 5rem 0 0 0;
  line-height:1rem;
  
}
.section7-flex-item2{
width: 80vw;
font-size: 1.5rem;
margin-top:5rem;
}
.form-Box input[type="text"],
.form-Box input[type="email"],
.form-Box textarea {
  width: 80vw;
  height: 10vh;
  font-size: 1rem;
}
.form-Box textarea {
  height: 30rem;
}
.form-submit{
  text-align: left;
}

/* footer */
.footer{
  font-size: 1rem;
}
.tou{
  width: 100vw;
  text-align: center;
}
.footer-logo{
  text-align: center;
  width: 80vw;
}
#footer-logo{
  text-align: center;
  width: 10rem;
  height: 10rem;
 margin-left: 50%;
 transform: translateX(-50%);

}
.footer-flex-container{
  flex-direction: column;
  justify-content: center;
  padding-top:0;
  
}
.product{
  margin-left: 0;
}

.footer-flex-container ul{
  width: 80vw;
  text-align: center;
  font-size:2rem;
}
.copyright{
  font-size: 2rem;
  padding:0;
}

}


@media only screen and (min-width:992px) and (max-width:1200px){
.active{
  font-size:small;
}
.navbar-brand span{
  font-size: small;
}
.navbar-collapse.collapse ul{
  margin-left:3rem;
 }

/* section 1 */

.section1 h1{
  font-size:64px;
  width: 50vw;
  height: 70vh;
  padding-top:50px;
  padding-left: 0;
  padding: 5rem 0 0 0;
  text-align: left;
}
#particles-js{
  height: 60vh;
  padding:0;
  width: 100vw;
}


.section1-flex-container{
  flex-direction: column;
  font-size:.5rem;
  justify-content: flex-start;
  padding-top:0;
  height:120vh;
  
  }
  .section1-flex-container h1{
    padding-top:5rem;
    text-align: center;
    height:25vh;
  }
  .section1 p{
    font-size:1.75rem;
    width: 95vw;
    padding-right:5rem;
    padding-left:5rem;
    padding-top: 4rem;
    height: 70vh;
  
  }

/* section 2 our services */
.section2-h1{
  text-align: center;
  width: 80vw;
  margin-left: 50%;
  transform:translateX(-50%);
}
.section2 h1{
  font-size:64px;
  width: 100%;
  height: 30vh;
  padding-top:50px;
  padding-left: 0;
  padding: 5rem 0 0 0;

}

.section2-grid-container{
  grid-template-columns: 50% 50%;
  padding-bottom:5rem;
  width: 100vw;
  margin-left: 0;
 

}
.section2-grid{
width: 80%;
}

.section2-grid-container img{
  height: 30rem;
  width: 100%;
  margin-bottom:5rem;
  padding:0 2rem;
 
 
}


/* section 3 ceo */

.section3{
  height: 60rem;
}
.section3-grid-container{
  grid-template-columns: 40% 60%;
  width: 100vw;
  height: 100%;
  padding-top:0;
}
.slider-img{
  height: 30rem;
  width: 100%;
  margin-bottom:5rem;
  padding:0 2rem;
 
}
.section3-grid1{
  width: 100%;
  height: 20rem;
  text-align: right;
}

.ceo-details p , .ceo-details h2 , .quote-left{
  font-size: 1.25rem;
  width: 50vw;
  text-align: right;
  margin-left:0;
  padding:0;
  margin-top:.5rem;
  padding-right: 1rem;
}

/* section4 our expert team*/
.section4 h1{
  font-size:64px;
  width: 40vw;
  height: 30vh;
  padding-top:50px;
  padding-left: 0;
  padding: 5rem 0 0 0;
  text-align: left;
}

/* section 5 testimonials */

.section5{
  height: 250vh;
}
.section5 h1{
  font-size:64px;
  width: 80vw;
  height: 30vh;
  padding-top:50px;
  padding-left: 0;
  padding: 5rem 0 0 0;
  text-align: center;
}
.section5-grid-container{
  grid-template-columns: 50% 50%;
  margin-left: 5rem;
}

/* section 6 news and events */
.section6 h1{
  font-size:64px;
  width: 80vw;
  height: 30vh;
  padding-top:0px;
  padding-left: 0;
  padding-top:0;
  text-align: center;
}

/* section 7 form */

.section7-flex-container{
  padding-top:5rem;
}

.form-Box input[type="text"],
.form-Box input[type="email"],
.form-Box textarea {
  width: 50vw;
  height: 10vh;
  font-size: 1rem;
}


.form-Box textarea {
  height: 30rem;
}
.form-submit{
  text-align: left;
}


/* footer */
.footer{
  font-size: 1rem;
}
.footer-flex-container ul{
  width: 80vw;
  text-align: center;
  font-size:1rem;
}
.copyright{
  font-size: 1rem;
  padding:0;
}

}

@media only screen and (min-width:1201px) and (max-width:1440px){
  .active{
    font-size:large;
  }
  .navbar-brand span{
    font-size: large;
  }
/* section 1 */

.section1{
  height:130rem;
}
.section1 h1{
  font-size:64px;
  width: 40vw;
  height: 70vh;
  padding-top:50px;
  padding-left: 0;
  padding: 5rem 0 0 0;
  text-align: left;
}
#particles-js{
  height: 60vh;
  padding:0;
  width: 100vw;
}

.section1-flex-container{
  flex-direction: row;
  font-size:.5rem;
  justify-content: flex-start;
  padding-top:0;
  height:140vh;
  
  }
  .section1-flex-container h1{
    padding-top:5rem;
    text-align: center;
    height:25vh;
  }
  .section1 p{
    font-size:1.75rem;
    width: 95vw;
    padding-right:5rem;
    padding-left:5rem;
    padding-top: 4rem;
    height: 70vh;
  
  }

/* section 2 our services */


.section2-h1{
  text-align: left;
  width: 100vw;
  margin-left: 50%;
  transform:translateX(-50%);
}


.section2-grid-container{
  grid-template-columns: 30% 30% 30%;
  padding-bottom:5rem;
  width: 100vw;
  margin-left: 0;
  grid-gap:1rem;
 

}

/* section 3 ceo */

.slider-img{
  height: 100%;
  width: 100%;
  margin-bottom:5rem;
  padding:0 2rem;
 
}
.section3-grid1{
  width: 100%;
  height: 40rem;
  text-align: right;
}

.ceo-details p , .ceo-details h2 , .quote-left{
  font-size: 2rem;
  width: 50vw;
  text-align: right;
  margin-left:0;
  padding:0;
  margin-top:.5rem;
  padding-right: 1rem;
}

/* section4 our expert team*/

.section4 h1{
  width: 40vw;
  height: 30vh;
  padding-top:50px;
  padding-left: 0;
  padding: 5rem 0 0 0;
  text-align: left;
}

/* testimonials */
.section5{
  height: 250vh;
}

.section5-grid-container{
  margin-left:7rem;
  grid-gap:3rem;
}

/* section 6 news and events */
.section6 h1{
  font-size:82px;
  width: 40vw;
  height: 30vh;
  padding-top:0px;
  padding-left: 0;
  padding-top:0;
  text-align: left;
}

/* section 7  form */
.section7-flex-container{
  padding-top:5rem;
}

.form-Box input[type="text"],
.form-Box input[type="email"],
.form-Box textarea {
  width: 50vw;
  height: 10vh;
  font-size: 1rem;
}


.form-Box textarea {
  height: 30rem;
}
.form-submit{
  text-align: left;
}

/* footer */
.footer{
  font-size: 1rem;
}
.footer-flex-container ul{
  width: 80vw;
  text-align: center;
  font-size:1rem;
}
.copyright{
  font-size: 1rem;
  padding:0;
}

}
@media only screen and (min-with:1440px) and (max-width:1820px){
  .navbar-collapse.collapse ul{
    margin-left:1rem;
   }
}
@media only screen and (min-with:1201px) and (max-width:1440px){
  .navbar-collapse.collapse ul{
    margin-left:2rem;
   }
}